<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quotelForm='ngForm'></form>
    <form>
        <div class="form-group">
  
            <label for="name">Quote</label>
   
            <input type="text" class="form-control" id="name" [(ngModel)]= 
            "newQuote.name" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote is required</p>
        
            </div>
        </div>
        <div class="form-group">
  
            <label for="description"> Quote Description</label>

            <input type="text" class="form-control" id="description" [(ngModel)]= 
            "newQuote.name" description="name" #description='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote Description is required</p>
            
  
            </div>
        </div>

        <div class="form-group">
  
            <label for="Author"> Author of Quote </label>

            <input type="text" class="form-control" id="name" [(ngModel)]= 
            "newQuote.name" author="name" #author='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p> Author of Quote is required</p>
            
  
            </div>
        </div>

        <div class="form-group">
            <label for="published">published date</label>
            <input type="text" class="form-control" id="name" [(ngModel)]= 
            "newQuote.name" published="name" #published ='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>published date  is required</p>
  
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
